html, body {
}

header {

}
.container {

  margin: 0 auto;
  padding: 0 10px;
}


.header {
  max-width: 1424px;
}
.menu {
  display: flex;
  text-align: justify;
  justify-content: space-between;
  font-size: 28px;
  background-color:#5858FA;
   margin: opx;
  padding: 0px;
  width: 994px;


  }
  #nav {
    justify-content: space-between;
  }

span a {
  color: #CEF6F5;
}
 .footer {
  padding: 30px 0;
}
